* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
}

body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 400px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    height: 35px;
    width: 170px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0px 10px;
    margin: 15px;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.num-btn {
    background-color: rgb(14, 101, 182);
    color: white;
    border-radius: 5px;
    margin: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.summ{
    height: 35px;
    width: 190px;
}
.num-btn:hover {
    background-color: rgb(6, 61, 142);
}